@media screen and (max-width:576px) {
    nav{
        padding: 100px 20px;
    }
    .nav-container{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        margin-top: 62px;
        gap: 32px;
    }
    ul li{
        margin-left: 0px;
    }
    
}
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        padding: 40px 30px;
    }
    .nav-icons{
        gap: 10px;
    }
    ul li{
        margin-left: 10px;
    }
    
}