@media screen and (max-width:576px) {
    /* nav-bar section */
    nav{
        padding: 100px 20px;
    }
    .nav-container{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        margin-top: 62px;
        gap: 32px;
    }
    ul li{
        margin-left: 0px;
    }

    /* banner section */
    .banner-container{
        flex-direction: column-reverse;
        margin: 0px  ;
        padding: 0px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-title{
        font-size: 4rem;
    }
    .banner-images{
        width: 100%;
        margin-top: 78px;
        margin-bottom: 20px;
    }
    .sign-in{
        margin-right:10px;
    }
    .banner-img{
        width: 300px;
    }
    .games-type{
        font-size: 2rem;
    }
    .games-type-description{
        font-size: 1rem;
    }
    .funny{
        font-size: 2rem;
    }
    .games-item{
        margin: 48px 100px 120px;
        display: flex;
        flex-direction: column;
    }
    .games-item-description{
        font-size: 0.80rem;
        /* text-align: center;  */
    }
    .play-games-container{
        flex-direction: column;
        justify-content: start;
        width: 20%;
    }
    .play-games-title{
        font-size: 2rem;
        text-align: start;
    }
    .play-games-description{
        text-align: start;
        font-size: 1rem;
    }
    .play-games-images-container{
         width: 100%;
    }
       

    .main-image{
        position: relative;
        width:280px;
        height: auto;
        flex-shrink: 0;
    }
    .relative-image{
        width: 200px;
        height: 150px;
        position: absolute;
        margin-top: -100px;
        margin-left: -50px;
    }
    /* footer section */
    .footer-container{
        width: 100%;
    }
    .footer-menus{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-size: 1rem;
        padding: 60px 40px 65px;
    }
    .social-link-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0px 50px 70px;
        color: #FFFFFF;
        gap: 30px;
    }
    .policy{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 10px;
       padding: 60px 40px 60px;
    }
    .footer-description{
        padding: 30px 90px;
    }
    
}
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        padding: 40px 30px;
    }
    .nav-icons{
        gap: 10px;
    }
    ul li{
        margin-left: 10px;
    }
    .games-item{
        margin: 48px 30px 120px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .games-item-description{
        font-size: 0.75rem;
    }
    .play-games-container{
        margin: 0px 30px 120px 20px ;
    }
    /* footer section */
    .footer-menus{
        padding: 60px 200px 65px;
        gap: 40px;
    }
    .social-link-icon{
        padding: 0px 200px 75px;
        gap: 50px;
    }
   
    
}