@media screen and (max-width:576px) {
    nav{
        padding: 100px 20px;
    }
    .nav-container{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        margin-top: 62px;
        gap: 32px;
    }
    ul li{
        margin-left: 0px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin: 0px 120px ;
        padding: 0px 5px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-title{
        font-size: 4rem;
    }
    .banner-images{
        width: 100%;
        margin-top: 78px;
        margin-bottom: 20px;
    }
    .sign-in{
        margin-right:10px;
    }
    .banner-img{
        width: 300px;
    }
    .games-type{
        font-size: 2rem;
    }
    .games-type-description{
        font-size: 1rem;
    }
    .funny{
        font-size: 2rem;
    }
    .games-item{
        margin: 48px 100px 120px;
        display: flex;
        flex-direction: column;
    }
    .games-item-description{
        font-size: 0.80rem;
        text-align: center; 
    }


    
}
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        padding: 40px 30px;
    }
    .nav-icons{
        gap: 10px;
    }
    ul li{
        margin-left: 10px;
    }
    .games-item{
        margin: 48px 30px 120px;
       display: grid;
       grid-template-columns: repeat(2,1fr);
    }
    .games-item-description{
        font-size: 0.75rem;
    }

    
    
}