*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* nav bar related styles  */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px 40px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
 .primary-text{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-icons-title{
    color: #0B0223;
    font-size: 2.82rem;
    font-weight: 700;
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 32px;
}
ul li a{
    text-decoration: none;
}
 .follow-us{
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px 18px;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.fa-youtube {
    color: #F61C0D;;
    padding-left: 16px;
}
.fa-tiktok{
        color: #0B0223;
        padding-left: 16px;
}

/* banner related styles*/

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 200px 0px;
    margin: 19px auto 0;
    background: #FFF;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left;
}
.banner-content{
    width: 50%;
}
.banner-info{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.banner-images{
    width: 50%;
}
.play-video{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 24px;
}
.fa-circle-play{
    color: #F948B2;
    padding-right: 5px;
}
.download{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500px;
    margin-top: 17px;
}
.fa-download{
    color: #F948B2;
    padding-right: 5px;
}
.users{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 40px;
}
.fa-user-group{
    padding-left: 5px;
}
.sign-in{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 24px;
    text-transform: uppercase;
}
.go-rogue{
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* online section related styles */
.games-type{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.games-type-description{
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.games-item{
    margin: 48px 240px 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}
.games-item-images{
    border-radius: 16px;
}
.games-item-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

