*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* nav bar related styles  */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px 40px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
 .primary-text{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-icons-title{
    color: #0B0223;
    font-size: 2.82rem;
    font-weight: 700;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-left: 32px;
}
ul li a{
    text-decoration: none;
}
 .follow-us{
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px 18px;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.fa-youtube {
    color: #F61C0D;;
    padding-left: 16px;
}
.fa-tiktok{
        color: #0B0223;
        padding-left: 16px;
}

/* banner related styles*/

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 200px 0px;
    margin: 19px auto 0;
    background: #FFF;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left;
}
.banner-content{
    width: 50%;
}
.banner-info{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.banner-images{
    width: 50%;
}
.play-video{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 24px;
}
.fa-circle-play{
    color: #F948B2;
    padding-right: 5px;
}
.download{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500px;
    margin-top: 17px;
}
.fa-download{
    color: #F948B2;
    padding-right: 5px;
}
.users{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 40px;
}
.fa-user-group{
    padding-left: 5px;
}
.sign-in{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 24px;
    text-transform: uppercase;
}
.go-rogue{
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* online section related styles */
.online-game{
    padding: 50px 200px;
}
.games-type{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 16px;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.games-type-description{
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}
.games-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.games-item-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    width: 85%;
}

/* play games section related styles */
.play-games-container{
    display: flex;
    margin: 0px 240px 150px ;
    justify-content: space-around;
    align-items: center;
}
.play-games-title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 24px;
    }
.play-instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-games-description{
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 353px;
}
.play-games-images-container{
    width: 35%;
}
.main-image{
    position: relative;
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
}
.relative-image{
    position: absolute;
    margin-top: -300px;
    margin-left: -150px;
}

/* games collection related styles */
.games-collection-name{
    width: 1900px;
}
.games-collection{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin: 0px 300px 120px;
    gap: 25px;
    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
}
.games-types{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}
.games-logo{
    border-radius: 50px;
    background: #FFF;
}
.games-types-name{
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}
.games-types button{
    border: none;
   background: none;
}

/* footer section related style */

.footer-container{
    background: #0B0223;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
  padding-top: 120px;
  gap: 10px;

}
.footer-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    font-size: 2.82rem;
}
.footer-menus{
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 60px 563px 65px;
}
.social-link-icon{
    padding: 0px 700px 75px;
    color: #FFFFFF;
    gap: 40px;
}
.policy{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
   display: flex;
   justify-content: center;
   gap: 60px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 30px 0px 130px;
}
.fa-twitter,.fa-facebook-f,.fa-linkedin-in,.fa-instagram,.fa-apple{
    font-size: 40px;
}
.fa-facebook-f{
    background-color: #FFF;
    color:  #1877F2;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
#youtube{
    font-size: 40px;
}
.hide{
    display: none;
}
